.side-img {
  width: 100%;
  max-width: 1000px;
  height: calc(100vh - 5rem);
  object-fit: cover;
  filter: hue-rotate(45deg);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  text-align: center;
}
