table.members {
  width: 100%;
  margin-top: 2rem;
  border-collapse: separate;
  border-spacing: 0 0.7rem;
}

table.members thead,
tr {
  border: 1px solid gray;
  box-shadow: 1px -1px 4px lightgray, -1px 1px 3px lightgray;
}

th {
  text-align: left;
  color: #64477e;
}

th,
td {
  padding-left: 0.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

tr {
  cursor: pointer;
}

tr:hover {
  box-shadow: 4px 4px 5px 0px #e9e6e6, 4px -4px 5px 0px #e9e6e6;
  height: calc(100% + 5px);
  transition: all ease-out 0.2s;
}
